body{
    text-transform: uppercase;
    text-align: center;
    background-color: orange;
    color: #ffffff;
}

h1{
    padding-bottom: 50px;
}

span{
    margin-bottom: 50px;
    font-size: 40px;
}

button{
    margin-top: 50px;
    color: orchid;
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    height: 50px;
    width: 120px;
    margin-right: 10px;
    border-radius: 7px;
    border-width: 1px;
    font-weight: bold;
    font-size: 20px;
    
}

button:hover{
    color: orange;
    background-color: #ffffff;
    transition-duration: 1s;
}